h1 { 
  color: rgb(43, 0, 255);
  font-size: 5em; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: rgb(0, 0, 0); /* fondo negro */
  border: 2px solid rgb(255, 255, 255); /* borde blanco */
}